*{
    margin: 0;
}

img{
    width: 100%;
    
}
iframe{
    width: 100%;
}

body{
    width: 1600px;
    margin: 0 auto;
   

}

.container{
    
      background-color: #34495e;
    
}

header{


    display: flex;
    justify-content: space-between;
    padding: 12px 100px;
    
}

.logo{
    width: 50px;
    padding: 50px 0 0 28px ;
   
}



.nav li{

    list-style: none;
}

.nav li a{

    text-decoration: none;
    color: aliceblue;
    font-size: 19px;


}

.nav{

    display: flex;
    justify-content: space-around;
   
    
    width: 500px;
    padding: 50px 0 0;
    
}

.bannar{
     
    background-color: #34495e;
    display: flex;
    justify-content: center;
    padding: 12px 100px;
    height:;
 
   
}

.bannar_img{
    width: 47%;
    
}

.bannar_img>img{
    height: 500px;
   
    

}



.bannar_text{

    width: 47%;
    color: aliceblue;
    padding: 130px 10px 0 0;
    
   
}

.buynow{

    font-size: 19px;
    background-color: #e67e22;
    font-weight: 900;
    color: #0a1316;
    border-color: #e67e22;

}
.login{

    font-size: 19px;
    background-color: #e67e22;
    font-weight: 900;
    color: #dfe6e9;
    border-color: #e67e22;

}

.more{

    font-size: 19px;
    background-color: #e67e22;

}

.cont-2{

    text-align: center;
    margin: 50px 0 0;
    padding: 12px 100px;
}

.cont-3{

    text-align: center;
    margin: 50px 0 0;
    padding: 12px 100px;
}

.card-img{

    display: flex;
    justify-content: space-around;
}

.card-01 {
     
    width: 350px;
}

.card-01a {
     
    width: 350px;
    filter: grayscale(80%);
}

.card-02 {

    border: 2px solid #dfe6e9;
    width: 350px;
    text-align: left;
    padding: 10px;
}

.card-03 {

    border: 2px solid #dfe6e9;
    width: 350px;
    text-align: center;
    padding: 10px;
    
}

.round>img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-color: #2d3436;
    border: 2px solid;

    
    
}

.cont-4{

    text-align: center;
    margin: 50px 0 0;
    padding: 12px 100px;
    
}

.cont-4-1{

    display: flex;
    justify-content: space-between;
       
}

.cont-4-1-img{

    width: 30%;
}
.cont-4-1-p{
    width: 50%;
    text-align: left;
}


td {
    padding: 20px 190px 20px 20px;
    border: #34495e 1px solid;
}

table {
    
    border-collapse: collapse;
  }

  .cont-5{

    text-align: center;
    align-items: center;
    margin: 50px 0 0;
    padding: 12px 100px;
   
}

.video{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between  ;
   
    
    
       
}
.video>div{
   
    width: 48%;
    padding: 10px 5px   ;
}

.cont-6{

    text-align: center;
    align-items: center;
    margin: 50px 0 0;
    padding: 12px 100px;
   
}

.cont-7{

    background-color: black;
    margin: 50px 0 0;
    padding: 100px 100px;
    display: flex;
    justify-content: space-between;
    color: #dfe6e9;
    font-size: 22px;
   
}

.cont-7a {
 
  width: 40%;
}



.cont-7b{
    
    padding: 0 0 5px;
    color: red;
    font-size: 30px;
}

.cont-7a li{
    list-style: none;

}

.cont-7a li a{
   text-decoration: none;
   color: #dfe6e9;
   

}
.cont-7b-logo{
    width: 20px;
    display: flex;
    color: red;
   


}






.cont-7a div{
    display: flex;
    justify-content: space-between;
}

.fa-brands fa-apple{

    fill: brown;
}